$typography: (
    text-1: ("Martian Mono", 700, 3.875rem, 120%, -2px),
    text-1-mobile: ("Martian Mono", 700, 2.375rem, 120%, -2px),
    text-2: ("Martian Mono", 600, 3.125rem, 130%, -2px),
    text-2-mobile: ("Martian Mono", 600, 2.125rem, 130%, -2px),
    text-3: ("Martian Mono", 600, 2.125rem, 130%, -1px),
    text-3-mobile: ("Martian Mono", 600, 1.5rem, 110%, -1px),
    text-4: ("Martian Mono", 400, 1.5rem, 110%, -1px),
    text-4-sbold: ("Martian Mono", 600, 1.5rem, 110%, -1px),
    text-5: ("Inter", 400, 1.25rem, 140%, -0.5px),
    text-5-sbold: ("Inter", 600, 1.25rem, 140%, -0.5px),
    text-6: ("Martian Mono", 600, 1.125rem, 130%, -1px),
    text-6-mobile: ("Martian Mono", 600, 1rem, 130%, -1px),
    text-7: ("Martian Mono", 400, 0.875rem, 120%, -1px),
);

@mixin text-style($name){
    $values: map-get($typography, $name);
    font-family: nth($values, 1);
    font-weight: nth($values, 2);
    font-size: nth($values, 3);
    line-height: nth($values, 4);
    letter-spacing: nth($values, 5);
}